body {
  background-color: #d7f5ff;
  font-family: cursive;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#contenedor {
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 30px;
  max-width: 800px;
  margin: 40px auto;
}

button {
  padding: 12px 18px;
  font-size: 16px;

  border: none;
  border-radius: 8px;

  background-color: #f5f5f5;
  color: #381f07;

  cursor: pointer;
}

#btn-si {
  background-color: #1fe95c;
}

#btn-fea {
  background-color: #f3c17a;
}

#btn-no {
  background-color: #f28b82;
}

#respuesta {
  margin-top: 25px;
  font-size: 18px;
  text-align: center;
}


